<div class="grid md:grid-cols-2">
  <form class="p-8" [formGroup]="vehInfoForm" (ngSubmit)="onSubmit()">
    <h2 class="text-xl font-bold text-blue-500">Voertuiginformatie opzoeken</h2>

    <!-- SELECT VEHICLE TYPE-->
    <label class="block mt-4">
      <span class="text-gray-700"
        >Van welk type voertuig wilt u voertuiginformatie opzoeken?</span
      >
      <select
        class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 disabled:opacity-50"
        name="vehicle-type"
        formControlName="vehType"
        [class.border-red-400]="
          vehInfoForm.controls.vehType.errors &&
          vehInfoForm.controls.vehType.touched
        "
      >
        <option
          *ngFor="let vehicleType of vehTypeArr"
          [value]="vehicleType.vehType"
        >
          {{ vehicleType.vehType | capitalize }}
        </option>
      </select>

      <app-form-field-error
        *ngIf="
          vehInfoForm.controls.vehType.errors &&
          vehInfoForm.controls.vehType.touched
        "
      >
        <div class="font-bold">
          Oeps, type voertuig is vereist om voertuiginformatie op te zoeken.
        </div>
        <div class="block sm:inline"></div>
      </app-form-field-error>
    </label>

    <!-- SELECT VEHICLE SUBTYPE-->
    <label class="block mt-4">
      <span class="text-gray-700"
        >Welk type
        <ng-container [ngTemplateOutlet]="vehicleTypeText"></ng-container>
        hebt u?</span
      >
      <select
        class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 disabled:opacity-50"
        name="vehicle-subtype"
        formControlName="vehSubType"
        [class.border-red-400]="
          vehInfoForm.controls.vehSubType.errors &&
          vehInfoForm.controls.vehSubType.touched
        "
      >
        <option
          *ngFor="let vehSubType of selectedVehType?.vehSubTypeArr"
          [value]="vehSubType"
        >
          {{ vehSubType }}
        </option>
      </select>
      <app-form-field-error
        *ngIf="
          vehInfoForm.controls.vehSubType.errors &&
          vehInfoForm.controls.vehSubType.touched
        "
      >
        <div class="font-bold">
          Oeps, type <ng-container [ngTemplateOutlet]="vehicleTypeText"></ng-container> is vereist om voertuiginformatie op te zoeken.
        </div>
        <div class="block sm:inline"></div>
      </app-form-field-error>
    </label>

    <!-- INPUT LICENSE PLATE-->
    <label class="block mt-4">
      <span class="text-gray-700"
        >Vul het kenteken van uw
        <ng-container [ngTemplateOutlet]="vehicleTypeText"></ng-container>
        in.</span
      >
      <input
        type="text"
        class="block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 disabled:opacity-50"
        name="kenteken"
        placeholder="Bijvoorbeeld AA-BB-12"
        formControlName="vehPlate"
        [class.border-red-400]="
          vehInfoForm.controls.vehPlate.errors &&
          vehInfoForm.controls.vehPlate.touched
        "
      />
      <app-form-field-error
        *ngIf="
          vehInfoForm.controls.vehPlate.errors &&
          vehInfoForm.controls.vehPlate.touched
        "
      >
        <ng-container *ngIf="vehInfoForm.controls.vehPlate.errors.required">
          <div class="font-bold">
            Oeps, het ingevoerde kenteken is niet geldig.
          </div>
          <div class="block sm:inline">
            Gebruik het volgende formaat AA-12-BB.
          </div>
        </ng-container>

        <ng-container
          *ngIf="vehInfoForm.controls.vehPlate.errors.licensePlateError"
        >
          <div class="font-bold">
            Helaas is het ingevoerde kenteken niet geldig.
          </div>
          <div class="block sm:inline">Probeer het opnieuw.</div>
        </ng-container>
      </app-form-field-error>
    </label>

    <div class="mt-4">
      <button
        class="inline-flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-blue-500"
        type="submit"
        [disabled]="!vehInfoForm.valid"
      >
        <svg
          class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          *ngIf="formLoading"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        Verzenden
      </button>
      <div class="text-red-700" *ngIf="formSubmitted && formError">
        {{formError}}
      </div>
    </div>
  </form>
  <app-vehicle-info-image
    [vehType]="selectedVehType?.vehType ?? null"
  ></app-vehicle-info-image>
</div>

<ng-template #vehicleTypeText>
  {{ selectedVehType ? selectedVehType.vehType : "[auto/motor/scooter]" }}
</ng-template>
